/* Reference in UserNameComponent via styleUrls: ['./user-name.component.scss'] */

:host {
    display: block;
    margin-bottom: 16px;
    text-align: center;
}
  
p {
    font-size: 18px;
    color: #555555;
    text-align: center;
    margin: 0;
}
  